.hidden {
  display: none;
}

.mypage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 10px;
  border-style: solid;
  justify-content: start;
}

.mypage .left {
  margin: 10px;
  max-width: 30vw;
  border-style: solid;
}

.mypage .right {
  margin: 10px;
  width: 70vw;
  border-style: solid;
}

.left {
  display: flex;
  flex-direction: column;
}

.left .top {
  margin: 10px;
  height: 150px;
  border-style: solid;
}

.left .bottom {
  margin: 10px;
  height: 80vh;
  border-style: solid;
}

.no_user {
  width: 100vw;
  height: 100vh;
  background-color: cornflowerblue;
  font-size: 25px;
}

footer {
  height: 300px;
  color: white;
  font-size: 20px;
  background-color: rgb(112, 112, 112);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 230px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 1px 1px 5px black;
}

.product .title {
  margin: 0px;
}

.product .image {
  width: 200px;
}

.product .detail {
  display: none;
}

.product .number {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.products {
  display: flex;
  flex-direction: row;
}

.product input {
  font-weight: 1000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-right: 10px;
}

.locate {
  display: none;
}

.product .bottom {
  display: flex;
  flex-direction: row;
}

.bottom .ing {
  display: flex;
  flex-direction: row;
}

ul {
  cursor: pointer;
}
