.js__products {
  padding: 30px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products {
  width: 74vw;
  min-width: 500px;
  max-width: 1230px;
  min-height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  border: 0.1px solid rgb(0, 0, 0);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  width: 350px;
  height: 410px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 1px 1px 5px 1px black;
}

.locate {
  width: 100px;
  font-weight: 500;
}

.title {
  font-size: 25px;
  margin: 0px;
}

.product .image {
  margin-top: 20px;
  padding: 0px;
  width: 350px;
  height: 235px;
}

.product .middle {
  width: 300px;
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product .bottom {
  position: relative;
  bottom: 10px;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(75, 78, 241);
  border-radius: 30px;
  color: white;
  margin-bottom: 20px;
}

.product .ing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  border-radius: 30px;
  background-color: rgb(25, 18, 88);
}

.product .participateBtn {
  padding-left: 10px;
  background-color: salmon;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 600;
}

.proudct .number {
  padding-left: 10px;
}

.product .participant {
  padding-right: 10px;
}

.categories {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0px;
  height: 40px;
  width: 500px;
  background-color: rgb(75, 78, 241);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.category {
  padding: 0px 30px;
}

.product:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.image {
  transform: scale(0.8);
}
