body {
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  width: 500px;
}

.products {
  padding: 50px 80px;
  display: flex;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px black;
}

.product {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.product .top img {
  border-radius: 15px;
}

.product .middle {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: linear-gradient(45deg, rgb(126, 208, 247), rgb(214, 48, 230)); */
  border-radius: 12px;
  padding: 20px 0px;
  margin: 10px 0px;
  width: 500px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.content .title {
  margin: 0px;
  font-weight: 900;
}

.product .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product .bottom .ing {
  display: flex;
  flex-direction: row;
}

.product .bottom {
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(45deg, blueviolet, aquamarine);
  border-radius: 12px;
  color: white;
}

.participateBtn {
  font-weight: 700;
  padding: 0px 0px 0px 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.ing {
  padding: 10px 0px;
  border-radius: 12px;
  margin-right: 20px;
}

.ing .participant {
  padding-right: 10px;
}

.ing .number {
  padding-left: 10px;
}

.chat {
  opacity: 0.8;
  background-color: rgb(91, 87, 151);
  margin: 50px 80px;
  padding: 50px 80px;
  border-radius: 20px;
  height: 300px;
  overflow-y: auto;
}

.chat-no {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 50px;
  width: 500px;
  height: 300px;
  font-weight: 1000;
  font-size: 25px;
}

.chat-yes {
  display: none;
  width: 800px;
  height: 300px;
  overflow-y: scroll;
}

.sendC footer {
  color: white;
}

.enter {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  font-weight: 1000;
}

.msg {
  font-weight: 1000;
  border-radius: 12px;
  padding-left: 5px;
}

.msg:nth-child(even) {
  background-color: rgb(255, 234, 45);
}

.msg:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}
